<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/contactus.css">
  <link rel="shortcut icon" href="/clglogo.png" type="image/x-icon">
</head>

<body>

  <div class="navbar">
    <div class="logo">Excel</div>
    <a href="/">Home</a>
        <a href="/about">About Us</a>
        <a href="/service">Services</a>
        <a href="/contactus">Contact Us</a>
    <div class="menu-icon" onclick="openSidebar()">&#9776;</div>
  </div>

  <div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeSidebar()">&times;</a>
    <a href="/">Home</a>
        <a href="/about">About Us</a>
        <a href="/service">Services</a>
        <a href="/contactus">Contact Us</a>
  </div>

<main>
  <div class="container">
    <h2>Contact Us</h2>
    <form action="/" method="post">
      <div class="form-group">
        <input type="text" id="studentName" name="studentName"  placeholder="your name" required>
      </input>
      </div>
      <div class="form-group">
        <input type="text" id="parentName" name="parentName" placeholder="parentName" required>
      </input>
      </div>
      <div class="form-group">
        <input type="text" id="state" name="state"  placeholder="state" required>
      </div>
      <div class="form-group">
        <input type="tel" id="contactNo" name="contactNo" placeholder="contact number" required>
      </input>
      </div>
      <div class="form-group">
        <input type="email" id="email" name="email" placeholder="Email"  required>
      </input>
      </div>
      <div class="form-group">
        <button type="submit" onclick="showThankYouMessage()">Submit</button>
      </div>
    </form>
  </div>
</main>

<footer>
  <div id="container">
      <p class="fot">&copy; 2023 Excel. All Rights Reserved. Site by | tuitionhub.co.in</p>
  </div>
</footer>

 
</main>
<script>
  // Your client-side JavaScript code here
  function openSidebar() {
    document.getElementById("mySidebar").style.width = "250px";
    document.getElementById("mySidebar").style.left = "0";
    document.getElementById("navbar").style.visibility = "hidden";
  }

  function closeSidebar() {
    document.getElementById("mySidebar").style.width = "0";
    document.getElementById("mySidebar").style.left = "-250px";
    document.getElementById("navbar").style.visibility = "visible";
  }

  // Add an event listener to the button with class ".btn"
  document.getElementById("contactButton").addEventListener("click", function() {
    // Redirect to the "contactus" route
    window.location.href = "/contactus";
  });

  function showThankYouMessage() {
      alert("Thank you for your response! We will reach out to you soon.");
    }
</script>
</body>
</html>