/* Body styling */
body{
    height: 100vh;
    width: 100vw;
    background: linear-gradient( to top, rgba(208, 131, 131, 0.5)50%,rgba(0,0,0,0.5)50%), url("1.jpg");
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
    font-family: Arial;
}

/* Add some basic styles to the navigation bar */
.navbar {
    overflow: hidden;
    background-color: transparent;
    display: flex;
    align-items: center; 
    justify-content: space-evenly; 
    padding: 10px;
}

/* Style the logo */
.logo{
    color: #ff7200;
    font-size: 3.5vw;
    font-family: Arial;
}



/* Style the navigation bar links */
.navbar a {
    font-size: 16px;
    color: #fff; 
    font-family: Arial;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.4s ease-in-out;
}

/* On hover, the links will change color */
.navbar a:hover {
    color: #ff7200;
}

/* Sidebar styles */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: -250px; /* Start with the sidebar off-screen */
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 1;
}

/* Sidebar links */
.sidebar a {
    padding: 15px 25px;
    text-decoration: none;
    font-size: 22px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* On hover, the sidebar links will change color */
.sidebar a:hover {
    color: #ff7200;
}

/* Close button for the sidebar */
.closebtn {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 15px;
    font-size: 30px;
    cursor: pointer;
    color: white;
}

/* Content area */
.content {
    transition: margin-left .5s;
    padding: 16px;
    margin-left: 0; /* Start with no margin on the left */
}

/* Add some basic styles to the navigation menu button */
.menu-icon {
    cursor: pointer;
    font-size: 30px;
    color: white;
}

/* Content Styling */
.content{
    display: flex;
    justify-content: space-around;
}

/* Styling the website contents */
.info{
    max-width: 40%;
    margin-left:80px;
}

.info h1{
    font-size: 3vw;
    color: white;
    margin-top: 9%;
    letter-spacing: 2px;
}


.content span{
    color: #ff7200;
    font-size: 3.5vw;
}

.content p{
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
    color: white;
}

/* Styling the button */
.content .btn{
    max-width: 160px;
    width: 160px;
    height: 40px;
    background: #ff7200;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: .4s ease;
}

.content .btn a{
    font-size: 15px;
    text-decoration: none;
    color: #111;
    transition: .3s ease;
}


/* Button hover */
.btn:hover{
    opacity: 0.7;
    border: 1px solid white;
}

/* Girl photo styling */
.image img{
    height: 85vh;
}
/* Clear floats for the responsive design */
@media screen and (max-width: 600px) {
    
    .navbar{
        justify-content: space-between;
    }
    .navbar a {
        display: none; /* Hide the main navigation links */
    }
    .menu-icon {
        display: block; /* Show the menu icon */
    }
    .sidebar {
        width: 250px;
        left: 0; /* Bring the sidebar onto the screen */
    }
    .content {
        margin-left: 0px; /* Push the content to the right when sidebar is shown */
    }
    .image{
        display: none;
    }
    .content .info p{
        font-size: 10px;
    }
    .btn{
        width: 80px;
    }
}
@media screen and (min-width: 601px) {
    .navbar a {
        display: block; /* Display the main navigation links */
    }
    .menu-icon {
        display: none; /* Hide the menu icon */
    }
    .sidebar {
        left: -250px; /* Keep the sidebar off-screen */
    }
    .content {
        margin-left: 0; /* Remove margin for content */
    }
}
